*  {
    background-color: rgb(161, 47, 47);
    font-size: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
   }

  
   div {
    color: yellow;
   }




   .main { 
    background-color: gray;
    font-size: 25px;
    text-align: left;
    color: yellow;
    font-weight:inherit
   }

   