*  {
    background-color: rgb(161, 47, 47);
    font-size: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
   }

  
   .links {
    color: yellow;
   }


   .home-link {
    color: blue;
    text-decoration: underline;
   }

   .main { 
    
    font-size: 25px;
    text-align: left;
    color: Purple;
    font-style: italic;
    text-decoration: underline;
    font-weight:inherit
   }

   