*  {
    background-color: rgb(80, 23, 23);
    font-size: 20px;
    text-align: center;
    color: rgb(250, 98, 47);
    font-weight: bold;
   }

  
   .links {
    color: rgb(250, 170, 40);
   }


   .home-link {
    color: blue;
    text-decoration: underline;
   }

   .main { 
    
    font-size: 25px;
    text-align: left;
    color: rgb(250, 98, 47);
    font-style: italic;
    text-decoration: underline;
    font-weight:inherit
   }

   